<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ nomeRestaurante }}</ion-title>
    <!-- <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" name="bowtie"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-segment scrollable (ionChange)="toggleView($event)">
  <ion-segment-button value="E" checked>
    <ion-label>ENTRADA</ion-label>
  </ion-segment-button>
  <ion-segment-button value="P">
    <ion-label>PRATO PRINCIPAL</ion-label>
  </ion-segment-button>
  <ion-segment-button value="S">
    <ion-label>SOBREMESA</ion-label>
  </ion-segment-button>
  <ion-segment-button value="B">
    <ion-label>BEBIDAS</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content>
  <ion-fab *ngIf="existePedido" (click)="confirmarPedidos()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share-alt"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-list>
    <ion-item *ngFor="let item of listaItens">
      <ion-label>
        <ion-grid>
          <ion-row>
            <ion-col size="8" (click)="exibirDetalheDoItem(item)">
              {{ item.descricao }}<br>
              <span class="preco">R$ {{ item.preco }}</span>
            </ion-col>
            <ion-col class="ion-text-right">
              <div class="div-quantidade">
                <ion-button color="light" (click)="diminuir(item)" [disabled]="quantidade(item)<1">-</ion-button>
                <span class="quantidade">{{ quantidade(item) }}</span>
                <ion-button color="light" (click)="aumentar(item)" [disabled]="quantidade(item)>8">+</ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>