<ion-content>
  <div class="backbar">
    <a routerLink='/login'>
      <fa-icon [icon]="back" size="2x" [styles]="{'stroke': 'darkblue', 'color': '#3880ff'}"></fa-icon>
    </a>
  </div>
  <div class="logo">
    <ion-img class="logo-img" src="../../../assets/img/prato sem fundo.png"></ion-img>
  </div>
  <div padding text-center class="nome-sistema">iSelf</div>
  <div padding text-center>
    Seu cadastro foi realizado com sucesso!<br>
    Dentro de instantes, você receberá um e-mail contendo um link de ativação.
  </div>
</ion-content>