

.iself-tbar {
    padding: 10px;
  }
  
  .error-message {
    color: #BA0F03;
  }
  
  form {
    position: fixed;
    width: 100%;
    bottom: 10px;
  }
  
  .logo-img {
    height: 50vh;
    background-color: whitesmoke;
  }
  
  .nome-sistema {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    bottom: 50vh;
    font-family: Merriweather, Impact, Serif;
    font-size: xx-large;
  }   