<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ restaurante.Nome }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
          <ion-icon slot="icon-only" name="bowtie"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label style="text-align: center">
      <span class="nome-conta">
        {{ restaurante.Nome }}<br>
      </span>
      <span class="info-conta">
        Rua {{ restaurante.Rua }}, {{ restaurante.Bairro }}<br>
        CNPJ {{ restaurante.CNPJ }} - Insc. {{ restaurante.IEstadual }}<br>
        No Contrl: 12101 - Tel {{ restaurante.Telefone }}
      </span>
    </ion-label>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let ped of itensPedidos">
      <ion-label>
        <span>{{ ped.quantidade }}x {{ ped.item.descricao }}</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="totalConta > 0">
    <ion-checkbox color="primary" slot="start" [(ngModel)]="taxaDeServico"></ion-checkbox>
    <ion-label>Pagar taxa de serviço (10%)</ion-label>
  </ion-item>
  <ion-item *ngIf="totalConta > 0">
    <ion-label>Total a pagar: R$ {{ totalConta }}</ion-label>
  </ion-item>
  <ion-item *ngIf="totalConta == 0">
    <ion-label style="text-align: center">Você ainda não consumiu nenhum item</ion-label>
  </ion-item>
</ion-content>
<ion-button type="submit" expand="block" (click)="pagarConta()">{{ totalConta > 0 ? 'Pagar e ' : '' }} Encerrar</ion-button>